<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chamas.luis.iou" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoansPage"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".person"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LoanPerson"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AddDebt"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AddLoan"
            android:label="@string/title_activity_add_loan" >
        </activity>
    </application>

</manifest>
